.card {
    width: 200px;
    border: 1px solid black;
    height: 400px;
    margin: 12px;
    transition: 400ms;
    border-radius: 5px;
}
.card:hover{
   transform: scale(0.94);
}
.card>img {
    width: 200px;
    margin-bottom: -25px;

}

.card>h3 {
    color: black;
    font-size: medium;
    word-wrap: break-word;
    
}

.card>h2 {
    font-size: 16px;
    padding-top: 10px;

}
