.nav {
    background: #e59d9d;
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid black;
}

.nav>ul {
    list-style: none;
    display: flex;
}

.nav>ul>li{
    padding: 10px;
}

.icon{
    padding-top: 2px;
    width: 100px;
    height: 100px;
}